img {
  display: block;
  margin: auto;
  border-radius: 8px;
  box-shadow: 5px 5px 50px 1px rgba(0, 0, 0, 0.2);
}

body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}
